## Backup files
*~
\#*\#

## Python compiled modules
*.pyc

## setuptools stuff
*.egg-info
*.egg
/dist
/build
/examples/build

## PyCharm
/.idea

## VirtualEnvs
/.venv*

## py.test cache/coverage
/.cache
/.coverage

## Rope
/.ropeproject
