$TTL 2H
@    IN    SOA    {{ settings.dns.domain_name }}.  {{ settings.dns.contact }}. (
    {{ serial.dns_serial }} ; Serial
    28800          ; Refresh
    14400          ; Retry
    604800         ; Expire - 1 week
    86400          ; Minimum
)

;;========================================
;; Name servers
;;========================================
@       IN    NS    ns1
@       IN    NS    ns2
@       IN    NS    ns3
@       IN    NS    ns4

;;========================================
;; Web server
;;========================================
@       IN      A       10.0.10.20
@       IN      AAAA    ::1
www     IN      A       10.0.10.20
www     IN      AAAA    ::1

;;========================================
;; Localhost aliases
;;========================================
localhost   IN  A       127.0.0.1
localhost   IN  AAAA    ::1

;;========================================
;; NameServers
;;========================================
ns1         IN  A       10.0.10.241
ns2         IN  A       10.0.10.242
ns3         IN  A       10.0.10.243
ns4         IN  A       10.0.10.244

;;========================================
;; Mail server
;;========================================
mail        IN  A       10.0.10.21
@           IN  MX  10  mail


;;========================================
;; LAN Hosts
;;========================================
{% for host in hosts %}
{{ host.0 }}    IN A    {{ host.2 }};
{% endfor %}
